/* don't need all following CSS - just making it prettier */
* {
    font-family: 'Open Sans',sans-serif;
}

body {
    margin: 0;
    padding: 0
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}



/* Navigation Menu */
#mainaccordmenu {
    height: auto;
    z-index: 999;
    top: 0;
    left: 0;
    background-color: #002D5B;
    width: 100%;
    border: 0px solid transparent;
    font-family: Open Sans,Arial,sans-serif;
    margin-left: 0;
    margin-right: 250px;
    text-align: center;
    overflow: hidden;
    font-size: 1.2em;
}

#mainaccordmenu a {
    text-decoration: none;
    color: #FEFEFE;
    display: block;
    padding: 0.25em 0.25em 0.5em 0.25em;
}

#mainaccordmenu a:hover,
#mainaccordmenu a:focus {
    background-color: #0054A6;
}

#mainaccordmenu .parent ul {
    max-height: 0px;
    overflow: hidden;
}

#mainaccordmenu .parent ul.show {
    max-height: 100%;
}

ul#mainaccordmenu ul .parent ul {
    background-color: #003F7F;
}

/* ---------------------------------------------------------------------------------------------------------------------- */

@media only screen and (max-width: 700px) {


    .arrowleft:after {
        content: "";
        background-image: url("arrowleft.png");
        background-repeat: no-repeat;
        width: 20px;
        height: 20px;
        background-size: 20px;
        background-position: top right;
        transform: rotate(0deg);
        transition: transform .2s linear;
        float: right;
    }

    .arrowdown:after{
        content: "";
        background-image: url("arrowleft.png");
        background-repeat: no-repeat;
        height: 20px;
        width: 20px;
        background-size: 20px;
        background-position: right;
        transform: rotate(-90deg);
        transition: transform .2s linear;
        float: right;
    }

    .arrow:hover, .arrow:active{
        background-color: #0054A6;
    }

    .hamburger {
        content: "";
        background-image: url("arrowleft.png");
        background-repeat: no-repeat;
        height: 20px;
        width: 20px;
    }

    .hamburger span:nth-child(1) {
        top: 0px;
    }

    .hamburger span:nth-child(2),.hamburger span:nth-child(3) {
        top: 18px;
    }

    .hamburger span:nth-child(4) {
        top: 36px;
    }

    .hamburger.open span:nth-child(1) {
        top: 18px;
        width: 0%;
        left: 50%;
    }

    .hamburger.open span:nth-child(2) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .hamburger.open span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    .hamburger.open span:nth-child(4) {
        top: 18px;
        width: 0%;
        left: 50%;
    }

}


@media only screen and (min-width: 700px) {

        /* for separate list effect */

    #mainaccordmenu ul .parent ul {
        max-height: 0px;
        overflow: hidden;
        -webkit-transition: all 0.5s ease-in;
        transition: all 0.5s ease-in;
    }

    #mainaccordmenu ul .parent ul.show ,
    #mainaccordmenu ul .parent ul.show {
        max-height: 1500px;
    }

    #mainaccordmenu {
        background-color: transparent;
    }

    #mainaccordmenu a {
        background-color: #002D5B;
    }
    #mainaccordmenu > .parent > ul {
        position: absolute;
        width: 100%;
    }


    #mainaccordmenu {
        font-size: 1em;
    }

    #mainaccordmenu ul ul {
        font-size: .9em;
    }

    #mainaccordmenu-open {
        display: none;
    }

    #mainaccordmenu > .parent:first-child > ul > li:first-child {
        display: none;
    }

    #mainaccordmenu > .parent > ul {
        visibility: visible;
        height: 100%;
        max-height: 100%;
    }

        #mainaccordmenu > .parent > ul {
        visibility: visible;
        max-height: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: nowrap;
        -webkit-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-align-items: stretch;
        align-items: stretch;
        -webkit-justify-content: space-between;
        justify-content: space-between;
    }

    #mainaccordmenu > .parent > ul > li {
        -webkit-box-flex: 1 1 auto;
        -moz-box-flex: 1 1 auto;
        -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
    }


        /* for menu drawer effect

    #mainaccordmenu .open li ul {
        visibility: visible;
        height: 100%;
    }

    #mainaccordmenu > .parent > ul > li > a {
        line-height: 2em;
    }



    #mainaccordmenu {
        background-color: #003F7F;
    }

    #mainaccordmenu > .parent > ul > li > a {
        background-color: #002D5B;
    }

    #mainaccordmenu {
        text-align: left;
        font-size: 0.9em;
    }
*/

}

